.skills__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.skills__box {
    background-color: #FFF;
    width: 175px;
    height: 168px;
    color: #464646;
    font-weight: bold;
    margin-bottom: 1rem;
}

.skills__box > ul{
    margin: 55% 0 0 0;
    padding-left: 1rem;
}

.skills__img {
    height: 2rem;
}

.skills__name {
    margin-top: 0.5rem;
}

@media (max-width: 425px) { 
    .skills__box {
        width: 45%;
    }

    .skills__box > ul{
        margin: 60% 0 0 0;
    }
}