.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 2rem;
}

.head__vector {
    margin-right: 0.5rem; 
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.menu__header {
    display: flex;
}

.menu__title {
    margin: auto;
    color: #464646;
}

@media (max-width: 425px) { 
    .head__vector {
        display: none;
    }

    .menu__title {
        font-size: 1rem;
    }

    .menu__list__item.mail {
        display: initial;
    }
}