.formcontacto__input, .formcontacto__textarea {
    font-family: 'Raleway';
    color: #464646;
    width: -webkit-fill-available;
    border: none;
    font-size: 1rem;
    padding: 1rem .3rem;
}

.formcontacto__input:focus + .form__label, 
.formcontacto__input:not(:placeholder-shown) +.form__label {
    transform: translateY(-1px) scale(.7);
    transform-origin: left top;
    color: #2A7AE4;
}

.formcontacto__textarea:focus + .form__label, 
.formcontacto__textarea:not(:placeholder-shown) +.form__label {
    transform: translateY(-1px) scale(.7);
    transform-origin: left top;
    color: #2A7AE4;
}

.formcontacto__input:empty,:focus {
    padding: 1.5rem 0.3rem 0.5rem;
}

.formcontacto__textarea:empty,:focus {
    padding: 1.5rem 0.3rem 0.5rem;
}

.form__label {
    position: absolute;
    top: 0.5rem;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s;
}

@media (max-width: 425px) { 
    .formcontacto__input, .formcontacto__textarea {
        width: 100%;
    }
}