.formcontacto__text {
    margin-left: 1rem;
    color: #464646;
}

.formcontacto__title {
    margin-top: 0;
}

.formcontacto__subtext {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.2;
}

@media (max-width: 425px) { 
    .formcontacto__text {
        width: 100%;
    }

    .formcontacto__subtext {
        text-align: justify;
    }
}
