.knowledge {
    padding: 2rem 0 0;
}

.knowledge__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.knowledge__box {
    background-color: #FFF;
    width: 170px;
    height: 168px;
    color: #464646;
    font-weight: bold;
    margin-bottom: 1rem;
}

.knowledge__box > ul{
    margin: 55% 0 0 0;
    padding-left: 1rem; 
}

.knowledge__img {
    height: 2rem;
}

.knowledge__img.python__icon {
    height: 2rem;
}

.knowledge__name {
    margin-top: 0.5rem;
}

@media (max-width: 425px) { 
    .knowledge__box {
        width: 45%;
    }

    .knowledge__box > ul{
        margin: 60% 0 0 0;
    }
}