.about {
    
}

.about__container {
    text-align: justify;
    padding-right: 316px;
    color: #464646;
}

.about__title {
    font-size: 1.5rem;
}

.about__paragraph {
    line-height: 1.2;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .about__container {
        padding-right: 0;
    }
}