.experience__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.experience__info.izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.experience__title {
    font-weight: bold;
    font-size: 22px;
    color: #464646;
    margin: 0;
}

.experience__text {
    font-weight: normal;
    font-size: 16px;
    color: #464646;
}

@media (max-width: 768px) {
    .experience__info, .experience__info.izquierda {
        margin: 1rem 0 0 0;
    }
}

