.title__container{
    margin-right: 1rem;
    color: #464646;
}

.title__bio{
    font-size: 2.5rem;
    line-height: 1.1;
}

.title__subsection {
    font-weight: normal;
}

.title__network {
    display: flex;
    padding: 0;
}

.title__network__item {
    margin-right: 2rem;
}
