.title__container{
    margin-right: 1rem;
    color: #464646;
}

.title__bio{
    font-size: 2.5rem;
    line-height: 1.1;
}

.title__subsection {
    font-weight: normal;
}

.title__network {
    display: flex;
    padding: 0;
}

.title__network__item {
    margin-right: 2rem;
}

@media (max-width: 768px) {
    .title__bio {
        font-size: 22px; 
    }

    .title__subsection {
        font-size: 1rem;
    }
}

@media (max-width: 425px) { 
    .title__div {
        flex-flow: column-reverse;
        align-items: flex-start;
        width: 100%;
    }

    .title__subsection {
        text-align: justify;
    }

    .title__network {
        justify-content: space-between;
    }

    .title__network__item {
        margin-right: 0;
    }
}

